version: '3.8'
services:
  jenkins:
    build: 
      context: .
      dockerfile: Dockerfile.jenkins
    container_name: jenkins
    restart: always
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - ./jenkins_home:/var/jenkins_home
      # Mount the socket so Jenkins can spawn sibling containers on the host
      - /var/run/docker.sock:/var/run/docker.sock
    user: root # Temporarily needed to ensure access to the mounted socket

volumes:
  jenkins_home: